body {
    background-color: hsl(29, 80%, 62%);
    color: hsl(0, 0%, 10%);
    line-height: 2.0;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    }

.recipe{
    margin-left: 20px
}
.splitscreen {
    display: flex
    }

.splitscreen .left
.splitscreen .right {
    flex: 1;   
    }
